/node_modules
/public/hot
/public/storage
/upload/d-p-1234/
/upload/mail-orders/
/storage/*.key
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
dinosa.sublime-project
dinosa.sublime-workspace
apps/.env
nano.save.1
nano.save.2
THIETKEDINOSA.txt