/node_modules
/public/hot
/public/storage
/upload/d-p-1234/
/upload/mail-orders/
/storage/*.key
/vendor
/apps/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
dinosa.sublime-project
dinosa.sublime-workspace
apps/.env
chucnang.txt
nano.save.1
nano.save.2
nano.save.3
nano.save.4
THIETKEDINOSA.txt

